.startHidden {
    display: none;
}
#pet {
    padding: 10px;
    /* width: 100px;
    height: 20px; */
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    background: forestgreen;
    color: palegreen;
    font-weight: bold;
    font-family: monospace;
}
.bar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}
.progress{
    background-color: grey;
}
#petField{
    background: forestgreen;
    border: 2px solid darkgray;
}
#petState{
    color: black;
    background: darkgray;
    border-color: darkgray;
    border-style: solid;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }